* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  border: none;
}

::-webkit-scrollbar {
  width: 11px;
  height: 11px;
}
::-webkit-scrollbar-thumb {
  background: #969696;
  border-radius: 30px;
}
::-webkit-scrollbar-thumb:hover {
  background: #7a7a7a;
}
::-webkit-scrollbar-thumb:active {
  background: #636363;
}
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 0px;
  box-shadow: inset 0px 0px 0px 0px #f0f0f0;
}
#logo-img {
  width: 100px;
  height: auto;
  object-fit: cover;
  object-position: 50% 50%;
}
