.navbar * {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: #90cd5d;
}

.navbar {
  position: relative;
  padding: 18px 40px 18px 40px;
  box-shadow: 10px 3px 20px 7px rgba(0, 0, 0, 0.11);
  display: flex;
  gap: 10px;
  align-items: center;
}

#logo-img {
  width: 100px;
  height: auto;
  object-fit: cover;
  object-position: 50% 50%;
}

#nav-link-group {
  margin-left: 20px;
  display: flex;
  gap: 6px;
}

.container #nav-link {
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
  transition: background-color 0.3s;
  border-radius: 8px;
}

#nav-link:hover {
  background: #90cd5d;
  color: #fff;
}

#social-group {
  margin-left: auto;
  display: flex;
  gap: 15px;
  align-items: center;
}

#darkMode {
  position: absolute;
  top: 0;
  right: 40px;
}
